/* src/components/Navbar.css */
.navbar {
    background-color: #343a40; /* Color de fondo oscuro */
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.logo a:hover {
    color: #17a2b8; /* Un color de acento azul */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: #ccc;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s, transform 0.3s;
}

.nav-links li a:hover {
    color: #fff;
    transform: translateY(-2px);
}